on init
    mount none /dev/null /vendor/overlay/TelephonyResCommon.apk bind
    mount none /dev/null /vendor/overlay/TelephonyResCommonQcom.apk bind
    mount none /dev/null /vendor/overlay/TelephonyResMotCommon.apk bind
    mount none /dev/null /vendor/overlay/framework-res__auto_generated_rro_vendor.apk bind
    mount none /dev/null /vendor/lib/hw/lights.sm6150.so bind
    mount none /dev/null /vendor/lib64/hw/lights.sm6150.so bind
    setprop ro.carrier ${ro.boot.carrier}
    setprop ro.vendor.carrier ${ro.boot.carrier}

on boot
    # TS Gestures perms
   chown system system /sys/class/sensors/dt-gesture/enable
   chown system system /sys/class/sensors/dt-gesture/enable_wakeup
   chmod 0664 /sys/class/sensors/dt-gesture/enable
   chmod 0664 /sys/class/sensors/dt-gesture/enable_wakeup

service vendor.mot.light-hal-1-0 /system/bin/true
    disabled

service vendor.mbm_spy /system/bin/true
    disabled
    oneshot
    override
